/* You can add global styles to this file, and also import other style files */
*{
  background-color: #b5a4a4;
}
h1 {
    color : yellow;
}

p{
    color: #fff;
}

button{
  padding: 10px;
  border-radius: 10px;
}